body{
    margin: 0px;
    background-color: #e4f1f7;
}

header .title{
    list-style: none;
    font-size: 25px;
    color: #1b274b;
    font-family: "Comic sans MS", cursive ,sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 0px 75px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.title a{
    text-decoration: none;
    color: #1b274b;
}

.title i{
    font-size: 25px;
    color: #1b274b;
}

.title li:hover i{
    transform: rotateZ(360deg);
    transition: .5s linear;
}

.subtitle{
    background-color: #1b274b;
    color: #cddae4;
    font-size: 30px;
    text-align: center;
    padding: 1px;
    font-style: italic;
}

.subtitle p:hover{
    transform: scale(1.5,1.5);
}



/*自我介紹*/
.intro{
    display: flex;
    margin: 45px 240px;
    justify-content: center;
}

.intro .photo{
    width: 350px;
    height: 350px;
    padding-right: 35px;
    border-radius: 25%;
}

.intro .content{
    padding-left: 35px;
    width: 50%;
}

.intro h2{
    font-size: 35px;
    color: #212125;
    margin-top: 0px;
}

.intro span{
    margin-left: 15px;
    font-size: 20px;
    font-weight: initial;
}

.intro table{
    width: 100%;
    border: 1px solid #147bc3;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}

.intro table th,td{
    font-size: 23px;
    padding: 30px;
    border: 1px solid #147bc3;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}

.intro table th{
    margin-left: 0;
    padding-left: 0px;
}

table i{
    color: #515152;
}

table td:hover i{
    transform: rotateZ(360deg) scale(1.4,1.4);
    transition: .8s linear;
}

.contact{
    margin-top: 30px;
}

.contact>a{
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 16px;
    display: inline-block;
    transition: .5s linear;
    position: relative;
    text-align: center;
    color: #147bc3;
}

.contact>a::before, .contact>a::after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .5s linear;
}

.contact>a:hover{
    transform: scale(.8);
}

.contact>a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.contact>a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}

.intro .icon{
    width: 25px;
    height: 25px;
}

/*每日一記*/
.emotion{
    margin: 30px 190px;
}

.emotion h4{
    font-size: 25px;
    font-family: "Comic sans MS", cursive ,sans-serif;
    color: #515152;
}

.emotion div{
    background-color: #fefefe;
}


/*學習經歷*/
.education{
    background-color: #ffffff;
    margin: 0 190px;
    border-top: 5px solid #1b274b;
    border-bottom: 2px solid #1b274b;
}

.education h4{
    color: #515152;
    font-family: "Comic sans MS", cursive ,sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10spx;
}

.school{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.school p{
    font-family: "標楷體", cursive;
    font-size: 20px;
    margin-bottom: 0;
    color: #5c5c5c;
}

.school img{
    width: 120px;
    height: 120px;
    padding-top: 15px;
}

.school a{
    color:rgb(36, 34, 34);
}

.school a:link {
    text-decoration: none;
}
  
.school  a:visited {
    text-decoration: none;
}
  
.school  a:hover {
    color: #579fd3;
}
  
.school  a:active {
    color: #5088b1;
}

.elementary ,.junior ,.senior ,.college{
    width: 200px;
}

.elementary:hover img{
    transform: scale(1.1);
    transition: .5s ease-in;
}

.junior:hover img{
    transform: scale(1.1);
    transition: .5s ease-in;
}

.senior:hover img{
    transform: scale(1.1);
    transition: .5s ease-in;
}

.college:hover img{
    transform: scale(1.1);
    transition: .5s ease-in;
}


/*技能*/
.skills{
    margin: 30px 190px;
    background-color: #fff;
    border-top: 5px solid #1b274b;
    border-bottom: 2px solid #1b274b;
}

.skills h4{
    color: #515152;
    font-family: "Comic sans MS", cursive ,sans-serif;
    font-size: 25px;
    text-align: center;
}

.skills-bar{
    background-color: #fff;
    margin: 15px 100px;
}

.bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.skills-bar .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
    
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #1b274b;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line.html span{
    width: 90%;
}

.bar .progress-line.css span{
    width: 80%;
}

.bar .progress-line.js span{
    width: 50%;
}

.bar .progress-line.c span{
    width: 82%;
}

.bar .progress-line.java span{
    width: 75%;
}

.progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #1b274b;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after{
    position: absolute;
    top: -23px;
    right: -17px;
    font-weight: 500;
    background: #1b274b;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100%{
        opacity: 1;
    }
}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "80%";
}

.progress-line.js span::after{
    content: "50%";
}

.progress-line.c span::after{
    content: "82%";
}

.progress-line.java span::after{
    content: "75%";
}

.bar:hover .progress-line>span{
    background-color: #7ba1d3;
}

.bar:hover .progress-line>span::after{
    background-color: #7ba1d3;
}

.bar:hover .progress-line>span::before{
    border-top-color: #7ba1d3;
}



.experience{
    display: flex;
    justify-content: space-between;
    margin: 30px 190px;
}
/*社團*/
.club{
    background-color: #ffffff;
    border-top: 5px solid #1b274b;
    border-bottom: 2px solid #1b274b;
    width: 45%;
}

.club h4{
    font-size: 25px;
    font-family: "Comic sans MS", cursive ,sans-serif;
    color: #515152;
    text-align: center;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin-bottom: 15px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e4f1f7;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 75%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #e4f1f7;
    border: 4px solid #1b274b;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container{
    left: 10%;
}

.container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #e4f1f7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e4f1f7 transparent transparent;
}

.container::after {
    left: -16px;
}

.club .content{
    padding: 20px 30px;
    background-color: #e4f1f7;
    position: relative;
    border-radius: 6px;
    width: 80%;
  }

.timeline h4{
    font-size: 23px;
    font-family: "微軟正黑體";
    color: rgb(122, 122, 122);
    margin-top: 0;
}

.card-one{
    position: relative;
    perspective: 1500px;
    max-width: 300px;
}

.one-cover, .one-back{
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
    transition: transform .3s linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.one-cover{
    border: none;
    transform: rotateY(0deg);
    position: absolute;
}

.one-cover>img{
    width: 300px;
    height: inherit;
}

.card-item:hover .one-cover{
    transform: rotateY(180deg);
}

.one-back{
    transform: rotateY(-180deg);
    background-color: #e4f1f7;
    width: 300px;
}

.card-item:hover .one-back{
    transform: rotateY(0deg);
}

.one-back p{
    line-height: 60px;
    border:5px dashed #5088b1;
    border-radius: 5px;
    padding: 10px;
    color: #5088b1;
}


/*作品*/
.portfolio{
    width: 50%;
    background-color: #ffffff;
    border-top: 5px solid #1b274b;
    border-bottom: 2px solid #1b274b;
}

.portfolio h4{
    font-size: 25px;
    font-family: "Comic sans MS", cursive ,sans-serif;
    color: #515152;
    text-align: center;
}

.portfolio hr{
    margin: 25px;
}

    /*高中*/
.senior_high>.accordion{
    background-color: #cae3f7;
    color: #363759;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin: 20px 0;
    margin-left: 5%;
}

.senior_high>.active, .accordion:hover {
    background-color: #7ba1d3;
    width: 90%;
    color: #fdfcff;
}

.senior_high>.accordion:after {
    content: '\002B';
    color: #082A3F;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.senior_high>.active:after {
    content: "\2212";
}

    /*大一*/
.freshman{
    margin-top: 5%;
}

.freshman>.accordion{
    background-color: #85bbe2;
    color: #363759;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin: 20px 0;
    margin-left: 5%;
}

.freshman>.active, .accordion:hover {
    background-color: #7ba1d3;
    width: 90%;
    color: #fdfcff;
}

.freshman>.accordion:after {
    content: '\002B';
    color: #082A3F;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.freshman>.active:after {
    content: "\2212";
}


    /*大二*/ 
.sophomore{
    margin-bottom: 20px;
}

.sophomore>.accordion{
    background-color: #579fd3;
    color: #363759;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-top: 20px;
    margin-left: 5%;
}

.sophomore>.active, .accordion:hover {
    background-color: #7ba1d3;
    width: 90%;
    color: #fdfcff;
}

.sophomore>.accordion:after {
    content: '\002B';
    color: #082A3F;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.sophomore>.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /*margin-left: 5%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
}

.panel p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 17px;
    font-family: "微軟正黑體";
    color: #5c5c5c;
}

.link{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px;
    margin: 10px;
}

.link:hover{
    background-color: #ccc;
    transform: scale(1.05);
}

.project{
    border-radius: 15px;
    margin: 30px;
}

.project:hover{
    transform: scale(1.2);
    transition: 1s ease;
}

.bussiness{
    display: flex;
}


/*生活*/
.life{
    background-color: #ffffff;
    margin: 30px 190px;
    border-top: 5px solid #1b274b;
    border-bottom: 2px solid #1b274b;
}

.life h4{
    font-size: 25px;
    font-family: "Comic sans MS", cursive ,sans-serif;
    color: #515152;
    text-align: center;
}

.life>.photo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


.pic{
    background-color: black;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 5px 5px black;
}

.pic .img{
    width: 300px;
    height: 300px;
    top: 25px;
    left: 25px;
    filter: grayscale(60%);
    opacity: 0.5;
    transition: 1s linear;
}

.pic p{
    position: absolute;
    left: 15px;
    bottom: 0;
    font-family: "Comic sans MS", cursive ,sans-serif;
    color: transparent;
    transition: 1.5s linear;
}

.pic:hover .img{
    filter: grayscale(0);
    opacity: 1;
}

.pic:hover p{
    color: white;
}

.cat .img{
    background: url(image/cat.jpeg);
    background-size: cover;
    background-position-x: 50%;
}

.escape_1 .img{
    background: url(image/escape-1.jpg);
    background-size: cover;
    background-position-x: 50%;
}

.graduate .img{
    background: url(image/graduate.jpeg);
    background-size: cover;
    background-position-x: 50%;
}

.escape_2 .img{
    background: url(image/escape-2.jpeg);
    background-size: cover;
    background-position-x: 50%;
}

.christmas .img{
    background: url(image/christmas.jpg);
    background-size: cover;
    background-position-x: 50%;
}
